<ul>
  {{#each burger}}
    <li>
      <p>
        {{this.id}}. {{this.burger_name}}

        <button data-burgerid="{{this.id}}" class="delBurger">Devour</button>
      </p>
    </li>
  {{/each}}
</ul>

<h2>Add a burger to devour!!!</h2>
<form id="addBurger" class="button-size">
	<textarea type="text" name="burger_name"></textarea>
	<button type="submit">Send your order</button>
</form>

<script type="text/javascript">
{{!-- alert("Working!"); --}}
$(".delBurger").on("click", function(event){
    var id = $(this).data("burgerid");
    $.ajax("/api/burgers/" + id, {
        type: "DELETE"}).then(
            function() {
                console.log("Deleted id ", id);
                location.reload();
            }
        )
    });
    
$("#addBurger").on("submit", function(event) {
    event.preventDefault();
    var newBurger = {
      burger_name: $("#addBurger [name=burger_name]").val().trim(),
      devoured: 0,
    };
    $.ajax("/api/burgers", {
      type: "POST",
      data: newBurger
    }).then(
      function() {
        console.log("added new burger");
        location.reload();
      }
    );
  });

</script>